<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'owners')}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <!--/*@thymesVar id="owner" type="guru.springframework.bgpetclinic.model.Owner"*/-->
    <h2 th:text="'List of Owner'">Owners List</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Id</th>
            <th>first Name</th>
            <th>last Name</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="owner : ${owners}">
            <td th:text="${owner?.id}">1</td>
            <td th:text="${owner?.firstName}">Joe</td>
            <td th:text="${owner?.lastName}">Bark</td>
        </tr>
        </tbody>
    </table>
</body>
</html>